body {
  background-color: black;
}

h2 {
  text-align: center;
  color: white;
  font-family: Arial;
}

a {
  text-align: center;
  justify-content:center;
  display: flex;
  color: aqua;
  font-family: Arial;
}