<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Test assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <h2>Hello {{ name }}!<br>{{ message }}</h2>
    <br>
    <a href="https://gitlab.com/HardcoreMagazine/test-assignment" target="_blank">Gitlab repository</a>
  </body>
</html>